@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form,
label {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  line-height: 1;
}

button,
input,
textarea {
  outline: none !important;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
  outline: none !important;
}

/*css оформление скроллбара*/
div.catalog-table-content::-webkit-scrollbar {
  -webkit-appearance: none;
  height: 7px;
}

div.catalog-table-content::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: #222;
}

::-moz-placeholder {
  color: #222;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #222;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #222;
}

.transit {
  /* Safari */
  transition: all 0.4s;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  color: #FFFFFF;
  background-image: url(../images/bg1.png), url(../images/bg2.png), url(../images/bg3.png), url(../images/bg4.png), url(../images/bg5.png), url(../images/bg6.png);
  background-repeat: no-repeat;
  background-position: left 1800px, right 2100px, left 3200px, left 3700px, left 4000px, 800px 3900px;
  background-color: #28292B;
}
body.openmodal {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  color: #AD00FF;
  text-decoration: none !important;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border: 1px solid #B7B7B7;
  position: relative;
  z-index: 1;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button span {
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  background-image: url(../images/btn-bg.png);
  background-size: 100% 100%;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 84px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
  color: #28292B;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
button span:hover {
  box-shadow: 4px 4px 35px 13px rgba(255, 255, 255, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button span:active {
  box-shadow: 4px 4px 35px 13px rgba(255, 255, 255, 0.15), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(../images/btn-bg-active.png);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background-color: #121315;
  background-image: url(../images/fire.png);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
  padding-bottom: 480px;
  padding-top: 12px;
  position: relative;
}
.header:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 400px;
  background-image: url(../images/wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 100%;
  bottom: -130px;
  left: 0;
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__address {
  padding-left: 47px;
  font-variant: small-caps;
  color: #FFFFFF;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  background-image: url(../images/el_map-marker.svg);
  background-repeat: no-repeat;
  background-position: left top;
}
.header__address p:first-child {
  font-size: 30px;
  line-height: 41px;
}
.header__address p:last-child {
  font-size: 24px;
  line-height: 33px;
}
.header__phone {
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left 6px;
  background-image: url(../images/clarity_phone-handset-solid.svg);
  transition: all 0.4s;
}
.header__phone:hover {
  background-image: url(../images/clarity_phone-handset-hover.svg);
}
.header__phone:hover p:last-child {
  color: #fff;
}
.header__phone p:first-child {
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  font-variant: small-caps;
}
.header__phone p:last-child {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-variant: small-caps;
  color: #fff;
}
.header__title {
  margin-top: 177px;
  font-weight: normal;
  font-size: 72px;
  line-height: 98px;
  font-variant: small-caps;
}
.header__subtitle {
  margin-top: 9px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}
.header__desc {
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
  margin-top: 78px;
}
.header__btn {
  margin-top: 34px;
  margin-left: 8px;
  width: 443px;
  height: 110px;
  border-radius: 84px;
}
.header__btn span {
  left: -8px;
  top: -8px;
}

.info {
  position: relative;
  z-index: 3;
  margin-top: 30px;
}
.info__inner {
  display: flex;
  justify-content: space-between;
}
.info__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  font-variant: small-caps;
}
.info__title strong {
  font-weight: bold;
}
.info__desc {
  margin-top: 34px;
  font-size: 24px;
  line-height: 33px;
  font-variant: small-caps;
}
.info__desc strong {
  font-weight: 800;
}
.info__btn {
  width: 399px;
  height: 99px;
  margin-top: 78px;
  border-radius: 84px;
  margin-left: 7px;
}
.info__btn span {
  left: -7px;
  top: -7px;
}
.info__items {
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.info__item {
  background: #323335;
  border-radius: 27px;
  padding: 20px 20px 80px;
  background-image: url(../images/info-item-bg.svg);
  background-repeat: no-repeat;
  background-position: right 16px bottom 16px;
  position: relative;
}
.info__item::after, .info__item::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  top: 0;
  background: #28292B;
}
.info__item::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.info__item::after {
  right: 0;
  transform: translate(50%, -50%);
}
.info__item-top {
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info__item-top img {
  max-width: 100%;
  max-height: 100%;
}
.info__item-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
}
.info__item-desc {
  font-size: 20px;
  line-height: 27px;
  color: #B8B8B8;
  margin-top: 12px;
}

.product__title {
  margin-top: 166px;
  text-align: center;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
}
.product__title strong {
  font-weight: 700;
}
.product__tabs {
  margin-top: 68px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 33px;
  color: #B9B9B9;
}
.product__tab {
  margin: 0 35px;
  transition: all 0.3s;
  padding-bottom: 6px;
  border-bottom: 1px solid transparent;
}
.product__tab:hover {
  cursor: pointer;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
.product__tab--active {
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  pointer-events: none;
}
.product__contents {
  margin-top: 40px;
}
.product__content {
  display: none;
}
.product__content--active {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.product__item {
  position: relative;
  height: 450px;
  border-radius: 27px;
  transition: all 0.7s;
}
.product__item:hover {
  transform: scale(1.1);
}
.product__item img {
  width: 100%;
  height: 100%;
  border-radius: 27px;
}
.product__item-inner {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 37px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.product__item::after, .product__item::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  top: 0;
  background: #28292B;
}
.product__item::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.product__item::after {
  right: 0;
  transform: translate(50%, -50%);
}
.product__btn {
  margin-top: 88px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 100px;
  border-radius: 84px;
}
.product__btn span {
  top: -8px;
  left: -8px;
}

.service__title {
  margin-top: 134px;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: capitalize;
}
.service__desc {
  margin-top: 17px;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  text-transform: capitalize;
}
.service__inner {
  display: flex;
  margin-top: 122px;
}
.service__left {
  margin-left: 200px;
}
.service__items {
  position: relative;
}
.service__item {
  position: relative;
  height: 620px;
  width: 445px;
  border-radius: 27px;
  transition: all 0.7s;
  z-index: 5;
}
.service__item:nth-child(2) {
  opacity: 0.8;
  width: 370px;
  height: 520px;
  z-index: 4;
  position: absolute;
  left: 0;
  top: 30px;
  transform: rotate(-15deg) translate(-50%, 0);
}
.service__item:nth-child(3) {
  opacity: 0.8;
  width: 320px;
  height: 450px;
  z-index: 3;
  position: absolute;
  left: -200px;
  top: 200px;
  transform: rotate(-30deg) translate(-15%, 0);
}
.service__item img {
  width: 100%;
  height: 100%;
  border-radius: 27px;
}
.service__item-inner {
  position: absolute;
  border: 1px solid #FFFFFF;
  border-radius: 37px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.service__item::after, .service__item::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  border-radius: 15px;
  top: 0;
  background: #28292B;
}
.service__item::before {
  left: 0;
  transform: translate(-50%, -50%);
}
.service__item::after {
  right: 0;
  transform: translate(50%, -50%);
}
.service__right {
  margin-left: 150px;
}

.form {
  width: 300px;
}
.form__title {
  font-size: 18px;
  line-height: 25px;
}
.form__title span {
  font-weight: 800;
}
.form input {
  width: 100%;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  padding: 8px 8px 8px 30px;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px auto;
}
.form input::-webkit-input-placeholder {
  color: #fff;
}
.form input::-moz-placeholder {
  color: #fff;
}
.form input:-ms-input-placeholder {
  color: #fff;
}
.form input::-ms-input-placeholder {
  color: #fff;
}
.form input::placeholder {
  color: #fff;
}
.form__tel {
  margin-top: 20px;
}
.form__tel input {
  background-image: url(../images/clarity_phone-handset-solid.svg);
}
.form__name input {
  background-image: url(../images/clarity_phone-handset-solid.svg);
}
.form__file input {
  width: 1px;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.form__file label {
  margin-top: 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: block;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}
.form__btn {
  width: 400px;
  height: 100px;
  margin-top: 70px;
  margin-left: -30px;
  border-radius: 84px;
}
.form__btn span {
  top: -8px;
  left: -8px;
}

.map__title {
  margin-top: 190px;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
}
.map__inner {
  margin-top: 117px;
  display: flex;
  justify-content: space-between;
}
.map__right {
  height: 468px;
  margin-left: 130px;
  width: calc(100% - 420px);
}
.map__right iframe {
  border-radius: 31px;
}
.map .form__btn {
  width: 290px;
  height: 72px;
  margin-left: 0;
  margin-top: 50px;
}
.map .form__btn span {
  top: -5px;
  left: -5px;
}

.footer {
  margin-top: 112px;
  padding-bottom: 120px;
}
.footer__inner {
  border-top: 1px solid #E8E8E8;
  padding-top: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__instagram {
  display: block;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  padding-left: 35px;
  font-variant: small-caps;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url(../images/instagram.svg);
  background-size: 27px auto;
}
.footer__instagram:hover {
  background-image: url(../images/instagram-hover.svg);
}
.footer__instagram:first-child {
  margin-bottom: 4px;
}
.footer__phone {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px auto;
  padding-left: 30px;
  background-image: url(../images/clarity_phone-handset-solid.svg);
  transition: all 0.4s;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  font-variant: small-caps;
  display: block;
}
.footer__phone:first-child {
  margin-bottom: 6px;
}
.footer__phone:hover {
  background-image: url(../images/clarity_phone-handset-hover.svg);
}
.footer__address {
  padding-left: 42px;
  font-variant: small-caps;
  color: #FFFFFF;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  background-image: url(../images/el_map-marker.svg);
  background-repeat: no-repeat;
  background-position: left 2px;
  background-size: 30px auto;
}
.footer__address p:first-child {
  font-size: 30px;
  line-height: 41px;
}
.footer__address p:last-child {
  font-size: 24px;
  line-height: 33px;
}
.footer__logo {
  display: block;
}

@media screen and (max-width: 1480px) {
  .container {
    width: 1200px;
  }

  .header {
    padding-bottom: 320px;
  }
  .header__address {
    background-size: 25px auto;
    padding-left: 30px;
    background-position: left 3px;
  }
  .header__address p:first-child {
    font-size: 22px;
    line-height: 130%;
  }
  .header__address p:last-child {
    font-size: 18px;
    line-height: 130%;
  }
  .header__phone {
    background-size: 20px auto;
    padding-left: 30px;
    background-position: left 3px;
  }
  .header__phone p:first-child {
    font-size: 22px;
    line-height: 130%;
  }
  .header__phone p:last-child {
    font-size: 15px;
    line-height: 130%;
  }
  .header__logo {
    width: 150px;
  }
  .header__logo img {
    width: 100%;
  }
  .header__title {
    margin-top: 110px;
    font-size: 50px;
    line-height: 130%;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 130%;
  }
  .header__desc {
    margin-top: 40px;
    font-size: 18px;
    line-height: 130%;
  }
  .header__btn {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-left: 0;
  }
  .header__btn span {
    font-size: 20px;
    line-height: 130%;
    top: -5px;
    left: -5px;
    border-radius: 50px;
  }

  .info__btn {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-left: 0;
  }
  .info__btn span {
    font-size: 20px;
    line-height: 130%;
    top: -5px;
    left: -5px;
    border-radius: 50px;
  }
  .info__items {
    margin-left: 20px;
    gap: 20px;
  }
  .info__item-title {
    font-size: 18px;
    line-height: 130%;
  }
  .info__item-desc {
    font-size: 16px;
    line-height: 130%;
  }

  .product__title {
    font-size: 28px;
    line-height: 130%;
    margin-top: 130px;
  }
  .product__tabs {
    font-size: 18px;
    line-height: 130%;
  }
  .product__content--active {
    gap: 20px;
  }
  .product__item {
    height: 380px;
  }
  .product__btn {
    width: 300px;
    height: 80px;
    border-radius: 50px;
  }
  .product__btn span {
    font-size: 20px;
    line-height: 130%;
    top: -5px;
    left: -5px;
    border-radius: 50px;
  }

  .service__title {
    font-size: 28px;
    line-height: 130%;
    margin-top: 110px;
  }
  .service__desc {
    font-size: 18px;
    line-height: 130%;
    margin-top: 10px;
  }
  .service__inner {
    margin-top: 100px;
  }
  .service__item {
    width: 300px;
    height: 400px;
  }
  .service__item:nth-child(2) {
    width: 250px;
    height: 340px;
  }
  .service__item:nth-child(3) {
    width: 200px;
    height: 300px;
    top: 150px;
  }
  .service__right {
    margin-left: 80px;
  }

  .form__btn {
    width: 300px;
    height: 80px;
    border-radius: 50px;
    margin-left: 0;
  }
  .form__btn span {
    font-size: 20px;
    line-height: 130%;
    top: -5px;
    left: -5px;
    border-radius: 50px;
  }

  .map__title {
    font-size: 28px;
    line-height: 130%;
    margin-top: 150px;
  }
  .map__inner {
    margin-top: 90px;
  }
  .map__right {
    width: calc(100% - 350px);
    margin-left: 50px;
  }

  .footer__instagram {
    font-size: 20px;
    line-height: 130%;
    background-size: 23px auto;
  }
  .footer__phone {
    font-size: 20px;
    line-height: 130%;
    background-size: 20px auto;
  }
  .footer__address {
    background-size: 20px auto;
    padding-left: 30px;
    background-position: left 3px;
  }
  .footer__address p:first-child {
    font-size: 22px;
    line-height: 130%;
  }
  .footer__address p:last-child {
    font-size: 18px;
    line-height: 130%;
  }
}
@media screen and (max-width: 1220px) {
  .container {
    width: 970px;
  }

  .header::after {
    bottom: -60px;
    height: 240px;
  }
  .header__title {
    font-size: 40px;
  }
  .header__subtitle {
    font-size: 16px;
  }
  .header__desc {
    margin-top: 30px;
    font-size: 16px;
  }
  .header__btn {
    width: 270px;
    height: 65px;
  }

  .info__btn {
    width: 270px;
    height: 65px;
  }
  .info__title {
    font-size: 28px;
    line-height: 130%;
  }
  .info__desc {
    font-size: 20px;
    line-height: 130%;
  }
  .info__item {
    padding: 10px 10px 70px;
    background-size: 50% auto;
  }
  .info__item-title {
    font-size: 16px;
  }
  .info__item-desc {
    font-size: 13px;
  }

  .product__item {
    height: 320px;
  }
  .product__btn {
    width: 270px;
    height: 65px;
    margin-top: 50px;
  }

  .form__btn {
    width: 270px;
    height: 65px;
  }

  .map__right {
    height: 370px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 760px;
  }

  .header {
    padding-bottom: 150px;
  }
  .header::after {
    height: 140px;
  }
  .header__address {
    background-size: 18px auto;
    padding-left: 24px;
  }
  .header__address p:first-child {
    font-size: 16px;
  }
  .header__address p:last-child {
    font-size: 14px;
  }
  .header__logo {
    width: 120px;
  }
  .header__phone {
    background-size: 14px auto;
    padding-left: 20px;
  }
  .header__phone p:first-child {
    font-size: 16px;
  }
  .header__phone p:last-child {
    font-size: 14px;
  }
  .header__title {
    font-size: 30px;
    margin-top: 60px;
  }
  .header__subtitle {
    font-size: 13px;
  }
  .header__desc {
    font-size: 13px;
    margin-top: 15px;
  }
  .header__btn {
    width: 250px;
    height: 55px;
  }
  .header__btn span {
    top: -3px;
    left: -5px;
  }

  .info__inner {
    flex-wrap: wrap;
  }
  .info__left {
    width: 100%;
  }
  .info__left br {
    display: none;
  }
  .info__title {
    text-align: center;
    font-size: 24px;
  }
  .info__desc {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
  }
  .info__items {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
  }
  .info__btn {
    width: 250px;
    height: 55px;
    margin: 0 auto;
    margin-top: 20px;
  }
  .info__btn span {
    top: -3px;
    left: -5px;
  }
  .info__item-title {
    font-size: 17px;
  }
  .info__item-desc {
    font-size: 14px;
  }

  .product__title {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
  }
  .product__tabs {
    margin-top: 20px;
  }
  .product__tab {
    font-size: 16px;
    margin: 0 20px;
  }
  .product__content--active {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product__btn {
    width: 250px;
    height: 55px;
  }
  .product__btn span {
    top: -3px;
    left: -5px;
  }
  .product__item:hover {
    transform: scale(1.05);
  }

  .service__title {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
  }
  .service__desc {
    font-size: 16px;
  }
  .service__inner {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .service__left {
    margin: 0;
    width: 300px;
    margin-left: auto;
    margin-right: 120px;
  }
  .service__right {
    width: 100%;
    margin-top: 90px;
    margin-left: 0;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
  }
  .form__btn {
    margin-top: 30px;
    width: 250px;
    height: 55px;
  }
  .form__btn span {
    top: -3px;
    left: -5px;
  }

  .map__title {
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
  }
  .map__inner {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  .map__right {
    width: 100%;
    order: -1;
    margin-left: 0;
  }
  .map__left {
    width: 100%;
    margin-top: 40px;
  }
  .map .form__btn {
    margin-top: 30px;
    width: 250px;
    height: 55px;
  }
  .map .form__btn span {
    top: -3px;
    left: -5px;
  }

  .footer {
    margin-top: 50px;
    padding-bottom: 30px;
  }
  .footer__inner {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .footer__col {
    width: 100%;
  }
  .footer__instagram, .footer__phone {
    width: 180px;
    margin: 0 auto;
    font-size: 16px;
  }
  .footer__instagram:last-child {
    margin-top: 15px;
  }
  .footer__phone {
    margin-top: 15px;
    background-size: 14px auto;
    padding-left: 20px;
  }
  .footer__address {
    background-size: 18px auto;
    padding-left: 24px;
    width: 180px;
    margin: 0 auto;
    margin-top: 15px;
  }
  .footer__address p:first-child {
    font-size: 16px;
  }
  .footer__address p:last-child {
    font-size: 14px;
  }
  .footer__logo {
    margin: 0 auto;
    margin-top: 15px;
    width: 180px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 540px;
  }

  .header {
    padding-bottom: 90px;
  }
  .header::after {
    height: 90px;
    bottom: -30px;
  }
  .header__logo {
    width: 100px;
  }
  .header__address {
    background-size: 16px auto;
    padding-left: 22px;
  }
  .header__address p:first-child {
    font-size: 14px;
  }
  .header__address p:last-child {
    font-size: 12px;
  }
  .header__phone {
    background-size: 13px auto;
    padding-left: 18px;
  }
  .header__phone p:first-child {
    font-size: 14px;
  }
  .header__phone p:last-child {
    font-size: 12px;
  }
  .header__title {
    font-size: 24px;
    margin-top: 40px;
  }
  .header__subtitle {
    font-size: 11px;
  }
  .header__desc {
    font-size: 11px;
    margin-top: 10px;
  }
  .header__btn {
    width: 220px;
    height: 45px;
  }
  .header__btn span {
    font-size: 16px;
  }

  .info__title {
    font-size: 20px;
  }
  .info__desc {
    font-size: 16px;
    margin-top: 8px;
  }
  .info__btn {
    width: 220px;
    height: 45px;
  }
  .info__btn span {
    font-size: 16px;
  }
  .info__items {
    grid-template-columns: 1fr;
  }
  .info__item {
    padding-bottom: 110px;
  }
  .info__item-desc {
    padding-right: 40px;
  }

  .product__title {
    font-size: 20px;
  }
  .product__tab {
    font-size: 14px;
    margin: 0 10px;
    padding-bottom: 3px;
  }
  .product__content--active {
    grid-template-columns: 1fr 1fr;
  }
  .product__btn {
    width: 220px;
    height: 45px;
  }
  .product__btn span {
    font-size: 16px;
  }

  .service__title {
    font-size: 20px;
  }
  .service__desc {
    font-size: 14px;
  }
  .service__left {
    margin-right: 0;
  }
  .service__right {
    margin-top: 110px;
  }

  .map__title {
    font-size: 20px;
  }
  .map .form__btn {
    width: 220px;
    height: 45px;
  }
  .map .form__btn span {
    font-size: 16px;
  }

  .form input {
    font-size: 14px;
    background-size: 18px auto;
    padding-left: 25px;
  }
  .form__title {
    font-size: 15px;
    line-height: 130%;
  }
  .form__btn {
    width: 220px;
    height: 45px;
  }
  .form__btn span {
    font-size: 16px;
  }

  .footer__instagram {
    background-size: 18px auto;
    width: 150px;
    padding-left: 25px;
    font-size: 14px;
  }
  .footer__phone {
    font-size: 14px;
    width: 150px;
  }
  .footer__address {
    background-size: 16px auto;
    width: 150px;
    padding-left: 22px;
  }
  .footer__address p:first-child {
    font-size: 14px;
  }
  .footer__address p:last-child {
    font-size: 12px;
  }
  .footer__logo {
    width: 150px;
  }
  .footer__logo img {
    max-width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .header {
    padding-bottom: 45px;
    background-size: auto 70%;
    background-position: right bottom;
  }
  .header::after {
    height: 55px;
    bottom: -20px;
  }
  .header__address, .header__phone {
    display: none;
  }
  .header__logo {
    margin: 0 auto;
    width: 80px;
  }
  .header__title {
    margin-top: 15px;
    line-height: 110%;
  }
  .header__subtitle, .header__desc {
    font-size: 8px;
    line-height: 110%;
  }
  .header__btn {
    margin-top: 20px;
    width: 190px;
    height: 35px;
  }
  .header__btn span {
    font-size: 14px;
    top: -3px;
    left: -3px;
  }

  .info__btn {
    width: 190px;
    height: 35px;
  }
  .info__btn span {
    font-size: 14px;
    top: -3px;
    left: -3px;
  }

  .product__tab {
    margin: 0 5px;
    font-size: 12px;
  }
  .product__content--active {
    grid-template-columns: 1fr;
  }
  .product__btn {
    width: 190px;
    height: 35px;
  }
  .product__btn span {
    font-size: 14px;
    top: -3px;
    left: -3px;
  }

  .service__desc br {
    display: none;
  }
  .service__item {
    width: 100%;
  }

  .form {
    width: 100%;
  }
  .form__btn {
    width: 190px;
    height: 35px;
  }
  .form__btn span {
    font-size: 14px;
    top: -3px;
    left: -3px;
  }

  .map .form__btn {
    width: 190px;
    height: 35px;
  }
  .map .form__btn span {
    font-size: 14px;
    top: -3px;
    left: -3px;
  }
}
